<html lang="en">
@Html.Partial("_header", "Michael Kohlmann Consulting")
<body>
@Html.Partial("_navbar", "services")
@Html.Partial("_jumbotron")
<div class ="container">
	<div class="row">

TODO:


    </div>
</div>
@Html.Partial("_footer")      
</body>
</html>
