<html lang="en">
@Html.Partial("_header", "Michael Kohlmann Consulting")
<body> 
@Html.Partial("_navbar", "about")
@Html.Partial("_jumbotron")
<div class ="container">
	<div class="row">
		<div class="col-sm-2"></div>
			<div class="col-sm-8">
        <div>
          <h3 id="about_WhoIAm">Who I am.</h3>
          <p>For the moment, MRK Consulting is a one-man operation, with plans for growth.</p>
          <p>On a personal level, I consider myself an all-around problem solver, who strives for team-work and concensus, over conflict and internal-competition. That's not to say I am not competitive, but that I work for team wins over personal gains.</p>
          <p>I am married to my beautiful wife, of several years now. We love to travel and see the world, but our day-to-day is spent in the Milwaukee, WI area. Some other interests of mine are carpentry, 3D printing, and board games.</p>
        </div>
        <div>
          <h3 id="about_WhatIDo">What I do.</h3>
          <p>MRK Consulting is currently a part-time operation. A little more than a side-hustle, but not quite a full-time enterprise (yet).</p>
          <p>I offer a diverse array of services because I've been a professional engineer for a long time. Everything from an CAD instructor, mechanical engineer, manufacturing engineer, robotics engineer, and most recently a software developer. I've managed projects, people, clients, and suppliers, at many different levels of the organization.</p>
          <ul>
            <li>Currently, I work a Software Engineer based out of Milwauke, Wisconsin. My day-to-day work is in enterprise backend web development for <a href="https://www.triseptsolutions.com/" target="_blank">Trisept Solutions.</a></li>
            <li>Previously, I worked as an Industrial Automation Engineer designing, installing and programming factory assembly lines, programmable-logic-controllers (PLC's), and robots.</li>
            <li>As a Mechanical Engineer, I designed one-off custom parts and prototypes in steel, aluminum, and plastics to be machined, formed, molded, and/or welded.</li>
            <li>As a Solidworks Instructor, I taught new users how to design parts and assemblies in 3D drafting software.</li>
          </ul>
        </div>
        <div>
          <h3 id="about_WhySwitch">Most commonly asked question:</h3>
          <p>Why the switch from mechanical engineering to software development?</p>
          <p>The truth is, I'm a roboticist at heart. That mix of different fields, Mechanical, Electrical, Software, Human. I still love the mechanical engineering side, but I wanted to get more involved in artificial intelligence, and for that I needed to focus more on programming and algorithms.</p>
        </div>
			</div>
		</div>
	</div> 
</div>
@Html.Partial("_footer")      
</body>
</html>
